---
layout: compress
---

<!DOCTYPE html>
<html lang="en" >
  {% include head.html %}  
  <body>
	<script src="https://climateclock.world/widget-v2.js" async></script>
<script src="https://climateclock.world/flatten.js" async></script>
<climate-clock></climate-clock>	  
	  <main>
	  <header>
		  <a href="/"><img src="/assets/img/logo.png" height="100" width="auto"/></a>
	  </header>
	  <section class="posts">
		  <h1 style="font-size: xxx-large;">Students for Climate<br>Leuven</h1>
	  </section>
	  </main>


	  <main role="main">
	    
	  {% include navigation.html %}
	    
        {{ content }}
    </main>
            
  </body>
</html>
